{% extends 'base_empleado.html' %}

{% block content %}

<h1 class="text-3xl font-bold mb-6">
    Subir Documento
</h1>

<a
    href="/rrhh/empleados/{{ empleado.id }}/"
    class="bg-neutral text-white px-4 py-2 rounded hover:bg-neutral-hover"
>
    Volver
</a>

<div class="bg-card shadow rounded p-6 mt-6 max-w-2xl">

    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        <div class="mb-4">

            <label class="font-semibold block mb-2" for="campo-nombre">
                Nombre documento
            </label>

            <input id="campo-nombre"
                type="text"
                name="nombre"
                class="w-full border rounded p-2"
                placeholder="Ej: Contrato laboral"
                required
            >

        </div>

        <div class="mb-6">

            <label class="font-semibold block mb-2" for="campo-archivo">
                Archivo
            </label>

            <input id="campo-archivo"
                type="file"
                name="archivo"
                class="w-full border rounded p-2"
                required
            >

        </div>

        <button
            class="bg-success text-white px-5 py-2 rounded hover:bg-success-hover"
        >
            Guardar documento
        </button>

    </form>

</div>

{% endblock %}