{% load static %}
<header class="pdf-header">
    <table class="header-table">
        <tr>
            <td class="header-logo" rowspan="2">
                <img src="{% static 'img/logo-cointeca.png' %}" alt="COINTECA" />
            </td>
            <td class="header-doc-type">
                Tipo de documento: {{ header.doc_type }}
            </td>
            <td class="header-meta" rowspan="2">
                <div>Código: {{ header.doc_code }}</div>
                <div>Versión: {{ header.version }}</div>
                <div>Fecha: {{ header.issue_date }}</div>
                <div class="header-page-row">Página: <span class="page-counter"></span></div>
            </td>
        </tr>
        <tr>
            <td class="header-title">
                {{ header.title }}
            </td>
        </tr>
    </table>
</header>
