{% extends "base.html" %}

{% block content %}

<div class="mb-6">

    <a
        href="{% url 'rrhh' %}"
        class="bg-gray-600 hover:bg-gray-700 text-white px-4 py-2 rounded">

        ← Volver a RRHH

    </a>

</div>

<h1 class="text-3xl font-bold mb-8">

    📄 Documentos RRHH

</h1>

<div class="bg-white rounded-lg shadow p-6">

    <h2 class="text-xl font-bold mb-6">

        Documentos Institucionales

    </h2>

    <button>

    </button>

    <table class="min-w-full border">

        <thead class="bg-gray-100">

            <tr>

                <th class="border px-4 py-2">

                    Documento

                </th>

                <th class="border px-4 py-2 w-48">

                    Acción

                </th>

            </tr>

        </thead>

        <tbody>

            <tr>

                <td class="border px-4 py-3">

                    Política de Tratamiento de Datos Personales

                </td>

                <td class="border px-4 py-3 text-center">

                    <a
                        href="{% url 'generar_tratamiento_datos_personales' %}"
                        class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded">

                        📄 Generar

                    </a>

                </td>

            </tr>

            <tr>

                <td class="border px-4 py-3">

                    Procedimiento de Inducción y Capacitación

                </td>

                <td class="border px-4 py-3 text-center">

                    <a
                        href="{% url 'generar_procedimiento_induccion_capacitacion' %}"
                        class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded">

                        📄 Generar

                    </a>

                </td>

            </tr>

            <tr>

                <td class="border px-4 py-3">

                    Procedimiento de nomina y prestaciones

                </td>

                <td class="border px-4 py-3 text-center">

                    <a
                        href="{% url 'generar_procedimiento_nomina_prestaciones' %}"
                        class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded">

                        📄 Generar

                    </a>

                </td>

            </tr>

            <tr>

                <td class="border px-4 py-3">

                    Procedimiento de disciplinario laboral

                </td>

                <td class="border px-4 py-3 text-center">

                    <a
                        href="{% url 'generar_procedimiento_disciplinario_interno' %}"
                        class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded">

                        📄 Generar

                    </a>

                </td>

            </tr>      
            
            <tr>

                <td class="border px-4 py-3">

                    procedimiento de custodia de historias clinicas y datos sensibles

                </td>

                <td class="border px-4 py-3 text-center">

                    <a
                        href="{% url 'generar_procedimiento_custodia_historia_clinicas_datos_sensibles' %}"
                        class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded">

                        📄 Generar

                    </a>

                </td>

            </tr> 

            <tr>

                <td class="border px-4 py-3">

                    Reglamento de trabajo cointeca SAS 2026

                </td>

                <td class="border px-4 py-3 text-center">

                    <a
                        href="{% url 'generar_reglamento_trabajo_cointeca_sas' %}"
                        class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded">

                        📄 Generar

                    </a>

                </td>

            </tr> 


        </tbody> 

    </table>

</div>

{% endblock %}