{% extends 'base.html' %}

{% block content %}

    <h1 class="text-3xl font-bold mb-6">
        🏖️ estado de Vacaciones
    </h1>

    <div class="flex justify-between mb-6">
        <a
            href="/rrhh/vacaciones/crear/"
            class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700"
        >
            + Registrar vacaciones
        </a>
        <a href="/rrhh/" class="bg-gray-600 text-white px-4 py-2 rounded hover:bg-gray-700">
            Volver a RRHH
        </a>
    </div>

    <!-- TABLA DE VACACIONES -->
    <div class="overflow-x-auto shadow rounded">
        <table class="w-full min-w-max border shadow">

            <thead class="bg-gray-800 text-white">
                <tr>
                    <th class="p-2 min-w-[220px]">Empleado</th>

                    <th class="p-2 min-w-[110px]">Ingreso</th>

                    <th class="p-2 w-20">Años</th>

                    <th class="p-2 w-28">Acumulados</th>

                    <th class="p-2 w-32">Tomados</th>

                    <th class="p-2 w-32">Pendientes</th>

                    <th class="p-2 min-w-[110px]">Inicio</th>

                    <th class="p-2 min-w-[110px]">Fin</th>

                    <th class="p-2 min-w-[110px]">Regreso</th>

                    <th class="p-2 min-w-[120px]">Periodo</th>

                    <th class="p-2 min-w-[120px]">Acciones</th>
                </tr>
            </thead>

            <tbody>

                {% for empleado in empleados %}

                <tr class="border-b">

                    <td class="p-2 text-center">{{ empleado.nombre_completo }}</td>

                    <td class="p-2">{{ empleado.fecha_ingreso }}</td>

                    <td class="p-2">{{ empleado.anios_trabajados }}</td>

                    <td class="p-2">{{ empleado.dias_acumulados }}</td>

                    <td class="p-2">{{ empleado.total_tomados }}</td>

                    <td class="p-2 font-semibold">{{ empleado.total_pendientes }}</td>

                    <td class="p-2 text-center">
                    {% if empleado.ultima_vacacion %}
                        {{ empleado.ultima_vacacion.fecha_inicio }}
                    {% else %}
                        —
                    {% endif %}
                    </td>

                    <td class="p-2 text-center">
                    {% if empleado.ultima_vacacion %}
                        {{ empleado.ultima_vacacion.fecha_fin }}
                    {% else %}
                        —
                    {% endif %}
                    </td>

                    <td class="p-2 text-center">
                    {% if empleado.ultima_vacacion %}
                        {{ empleado.ultima_vacacion.fecha_regreso }}
                    {% else %}
                        —
                    {% endif %}
                    </td>

                    <td class="p-2 text-center">
                    {% if empleado.ultima_vacacion %}
                        {{ empleado.ultima_vacacion.periodo }}
                    {% else %}
                        —
                    {% endif %}
                    </td>

                    <td class="p-2 text-center">
  
                            <a
                                href="{% url 'vacaciones_empleado' empleado.id %}"
                                class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
                                👁 Ver historial
                            </a>
                            <span class="text-gray-400">
                                Sin historial
                            </span>                       

                    </td>
                </tr>

                {% empty %}

                <tr>
                    <td colspan="11" class="text-center p-4">
                        No hay vacaciones registradas
                    </td>
                </tr>

                {% endfor %}

            </tbody>

        </table>
    </div>

    <!-- MODAL EDITAR -->
    <div
        id="modalEditar"
        class="fixed inset-0 bg-black bg-opacity-50 hidden flex items-center justify-center z-50"
    >

        <div class="bg-white p-6 rounded shadow w-[500px]">

            <h2 class="text-2xl font-bold mb-4">
                Editar Vacaciones
            </h2>

            <form
                id="formEditar"
                method="POST" >

                {% csrf_token %}

                <div class="mb-4">
                    <label>Periodo</label>

                    <input
                        id="periodo"
                        name="periodo"
                        class="border p-2 rounded w-full" >
                </div>

                <div class="mb-4">
                    <label>Fecha inicio</label>

                    <input
                        type="date"
                        id="fecha_inicio"
                        name="fecha_inicio"
                        class="border p-2 rounded w-full" >
                </div>

                <div class="mb-4">
                    <label>Días tomados</label>

                    <input
                        type="number"
                        id="dias_tomados"
                        name="dias_tomados"
                        class="border p-2 rounded w-full">
                </div>

                <div class="mb-4">
                    <label>Observaciones</label>

                    <textarea
                        id="observaciones"
                        name="observaciones"
                        rows="4"
                        class="border p-2 rounded w-full"
                    ></textarea>
                </div>

                <div class="flex gap-3">

                    <button
                        class="bg-green-600 text-white px-4 py-2 rounded"
                    >
                        Guardar
                    </button>

                    <button
                        type="button"
                        onclick="cerrarEditar()"
                        class="bg-gray-600 text-white px-4 py-2 rounded"
                    >
                        Cancelar
                    </button>

                </div>

            </form>

        </div>

    </div>

    <!-- MODAL ELIMINAR -->
    <div
        id="modalEliminar"
        class="fixed inset-0 bg-black bg-opacity-50 hidden flex items-center justify-center z-50"
    >

        <div class="bg-white p-6 rounded shadow">

            <h2 class="text-2xl font-bold mb-4">
                ¿Eliminar vacaciones?
            </h2>

            <form
                id="formEliminar"
                method="POST"
            >

                {% csrf_token %}

                <div class="flex gap-3">

                    <button
                        class="bg-red-600 text-white px-4 py-2 rounded"
                    >
                        Sí, eliminar
                    </button>

                    <button
                        type="button"
                        onclick="cerrarEliminar()"
                        class="bg-gray-600 text-white px-4 py-2 rounded"
                    >
                        Cancelar
                    </button>

                </div>

            </form>

        </div>

    </div>

    <script>

        // EDITAR
        function abrirEditar(id, periodo, fecha_inicio, dias, observaciones){

            document.getElementById("modalEditar").classList.remove("hidden");

            document.getElementById("periodo").value = periodo;
            document.getElementById("fecha_inicio").value = fecha_inicio;
            document.getElementById("dias_tomados").value = dias;
            document.getElementById("observaciones").value = observaciones;

            document.getElementById("formEditar").action = "/rrhh/vacaciones/" + id + "/editar/";

        }

        function cerrarEditar(){
            document.getElementById("modalEditar").classList.add("hidden");
        }

        // ELIMINAR
        function abrirEliminar(id){

            document.getElementById("modalEliminar").classList.remove("hidden");

            document.getElementById("formEliminar").action = "/rrhh/vacaciones/" + id + "/eliminar/";

        }

        function cerrarEliminar(){
            document.getElementById("modalEliminar").classList.add("hidden");
        }

    </script>

{% endblock %}
